.body-div1{
  height: 40vh;
  background-color: white;
  display: flex;
  padding: 5px;
  justify-content: center;
  gap: 1rem;
}
.body-div1-sub1{
  background-color: white;
  width: 20%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  /* border-radius: 50%; */
}
.sub1-extras1{
  /* background-color: black; */
  height: 20%;
  text-align: center;
  color: black;
}
.sub1-extras2{
  /* background-color: black; */
  height: 30%;
  color: rgb(49, 27, 10);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.sub1-extras3{
  /* background-color: black; */
  height: 30%;
  color: rgb(173, 149, 130);
  text-align: center;
  font-size: 17px;
}


.body-div1-sub2{
  width: 20%;
  background-color: white;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  /* border-radius: 50%; */
}
.sub2-extras1{
  height: 20%;
  color: black;
  text-align: center;
}
.sub2-extras2{
  height: 30%;
  color: rgb(49, 27, 10);
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.sub2-extras3{
   height: 30%;
  color: rgb(173, 149, 130);
  text-align: center;
  font-size: 17px;
}


.body-div1-sub3{
  width: 20%;
  background-color: white;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  /* border-radius: 50%; */
}
.sub3-extras1{
  height: 20%;
  color: black;
  text-align: center;
}
.sub3-extras2{
  height: 30%;
  color: rgb(49, 27, 10);
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.sub3-extras3{
   height: 30%;
  color: rgb(173, 149, 130);
  text-align: center;
  font-size: 17px;
}


.body-div1-sub4{
  width: 20%;
  background-color: white;
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  /* border-radius: 50%; */
}
.sub4-extras1{
  height: 20%;
  color: black;
  text-align: center;
}
.sub4-extras2{
  height: 30%;
  color: rgb(49, 27, 10);
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.sub4-extras3{
   height: 30%;
  color: rgb(173, 149, 130);
  text-align: center;
  font-size: 17px;
}
.icon{
  /* color: rgb(83, 65, 51); */
  height: 40px;
  width: 40px;
  /* background-color: aqua; */
}