.header-div{
  height: 85vh;
  display: flex;
  flex-direction: column;
  position: relative;
  /* margin: 2px; */
   /* background-color: blue; */
}
.page-div{
  position: absolute;
  display: flex;
  flex-direction: column;
  width:50%;
  z-index: 1;
  top: 40%;
  left: 25%;
  /* background-color: aqua; */
  color: white;
}
.hotel-name2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  /* background-color: aqua; */
  height: 50px;
  margin-bottom: 5px;
  margin-top: 3px;
}
.star{
  color: gold;
  fill: gold;
}
.star-div{
  /* background-color: gold; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  margin: auto;
  width:70px
}
.p2{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  margin: auto;
}
.p3{
   display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  margin: auto;
  height: 3px;
}
.p4{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* background-color: aqua; */
  margin: auto;
  /* height: 3px; */
}
.p4:active{
  color:rgb(245, 113, 5);
}
.p4:hover{
  cursor: pointer
}
.img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* position: absolute; */
  /* background-color: aqua; */
}